.element {
    overflow: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.element::-webkit-scrollbar {
    display: none;
    /* WebKit */
}